@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: aqua;


}

.big {
    font-size: 3rem;
    text-align: center;
    margin-top: 8px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.time {
    height: 150px;
    width: 150px;
    margin: 32px;
    padding: 4px;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(225, 225, 225, 0.411),
        15px 15px 15px rgba(0, 0, 0, 0.3);
}
.time1 {
    height: 150px;
    width: 150px;
    margin: 32px;
    padding: 4px;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(225, 225, 225, 0.411),
        15px 15px 15px rgba(0, 0, 0, 0.3);
}

.time-box {
    font-size: 3rem;
    text-align: center;
}

.time-show {
    text-align: center;
    font-size: 1.8rem;
}

.input-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-time input {
    border-radius: 10px;
    height: 43px;
    width: 163px;
    font-size: 26px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin-left: 4px;
}

.alram p {
    text-align: center;
    font-size: 2rem;
}

button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 16px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}

/* --------------------Responsive Ness---------------------------------- */
/* For Desktop/PC */
@media (min-width:1024px) {}

/* For Tablet */
@media (min-width:769px) and (max-width:1023px) {}

/* For Mobile */
@media (max-width:768px) {
    .date{
        min-height: 40vh;
    }

    .time-box {
        font-size: 1.8rem;


    }

    .time {
        height: 98px;
        width: 80px;
        margin: 10px;
        padding: 2px;
    }
    .time1 {
        height: 58px;
        width: 80px;
        margin: 10px;
        padding: 2px;
    }
    .time-show {
        font-size: 1rem;
    }
    .alram{
        display: none;
    }


}